{% extends 'base.html' %}
{% block title %} Удалить {{product.product_name}} {% endblock %}
{% block content %}

<h1>Удалить товар</h1>
<p>Вы уверены, что хотите удалить товар "{{ product.product_name|truncatechars:30 }}"?</p>

{% if product.product_picture %}
    <img src="{{ product.product_picture.url }}" class="img-fluid" style="max-height: 200px">
{% endif %}

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="{% url 'product_details' product.pk %}" class="btn btn-secondary">Отмена</a>
</form>

{% endblock %}
